<div [@routerTransition]>
    <sub-header
        [title]="('LookupPages' | localize) + ' ' + ('Details' | localize)"
        [breadcrumbs]="breadcrumbs"
    ></sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6 mb-3">
                        <h6>{{ l('LookupName') }} :</h6>
                        {{ item.lookupPage.lookupName }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('CostCenter') }}) {{ l('DisplayProperty') }} :</h6>
                        {{ item.costCenterDisplayProperty }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
