<div [@routerTransition]>
    <sub-header [title]="('TransferBudgets' | localize) + ' ' + ('Details' | localize)"
        [breadcrumbs]="breadcrumbs"></sub-header>



    <div [class]="containerClass">

        <!--begin::Layout-->
        <div id="kt_invoice_form" class="d-flex flex-column flex-lg-row">
            <!--begin::Content-->
            <div class="flex-lg-row-fluid mb-10 mb-lg-0 me-lg-7 me-xl-10">
                <!--begin::Card-->
                <div class="card mb-5">
                    <!--begin::Card body-->
                    <div class="card-body p-12">
                        <!--begin::Form-->
                        <div class="d-flex flex-column align-items-start flex-xxl-row">
                            <!--begin::Input group-->
                            <div class="d-flex align-items-center flex-equal fw-row me-4 order-2"
                                data-bs-toggle="tooltip" data-bs-trigger="hover" title="Specify invoice date">

                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-center flex-equal fw-row text-nowrap order-1 order-xxl-2 me-4"
                                data-bs-toggle="tooltip" data-bs-trigger="hover" title="Enter invoice number">
                                <span class="fs-2x fw-bold text-gray-800">Form Budget Transfer</span>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="d-flex align-items-center justify-content-end flex-equal order-3 fw-row"
                                data-bs-toggle="tooltip" data-bs-trigger="hover" title="Specify invoice due date">
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Top-->

                        <!--begin::Separator-->
                        <div class="separator separator-dashed my-10"></div>
                        <!--end::Separator-->

                        <div class="mb-0">

                            <!--begin::Row-->
                            <div class="row gx-10 mb-5">
                                <!--begin::Col-->
                                <div class="col-lg-6">
                                    <div class="form-floating">
                                        <input type="text" #TransferBudget_DocumentNo="ngModel"
                                            id="TransferBudget_DocumentNo" class="form-control form-control-solid"
                                            [(ngModel)]="transferBudget.documentNo" name="DocumentNo"
                                            placeholder="Document No (Auto Generate)" value="(Auto Generate)" />
                                        <label for="TransferBudget_DocumentNo">Document No</label>
                                        <validation-messages
                                            [formCtrl]="TransferBudget_DocumentNo"></validation-messages>
                                    </div>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->

                            <!--begin::Row-->
                            <div class="row gx-10 mb-5">
                                <!--begin::Col-->
                                <div class="col-lg-6">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <select class="form-control" [(ngModel)]="transferBudget.division"
                                            name="Division" #TransferBudget_Division="ngModel"
                                            id="TransferBudget_Division" (ngModelChange)="changeDivision()">
                                            <!-- <option selected>Select Division</option> -->
                                            <option *ngFor="let divisonItem of allDivision" [value]="divisonItem.id">{{
                                                divisonItem.displayName }}</option>
                                        </select>
                                        <label for="TransferBudget_Division">{{ l('Division') }} *</label>
                                        <validation-messages [formCtrl]="TransferBudget_Division"></validation-messages>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-lg-6">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <select class="form-control" [(ngModel)]="transferBudget.department"
                                            name="Department" #TransferBudget_Department="ngModel"
                                            id="TransferBudget_Department" (ngModelChange)="changeDepartment()">
                                            <option selected>Select Department</option>
                                            <option *ngFor="let departmentItem of allDepartment"
                                                [value]="departmentItem.id">{{ departmentItem.displayName }}</option>
                                        </select>
                                        <label for="TransferBudget_Department">{{ l('Department') }} *</label>
                                        <validation-messages
                                            [formCtrl]="TransferBudget_Department"></validation-messages>

                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->

                            <!--begin::Row-->
                            <div class="row gx-10 mb-5">
                                <!--begin::Col-->
                                <div class="col-lg-12">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input type="text" #TransferBudget_ProjectActivities="ngModel"
                                            id="TransferBudget_ProjectActivities" class="form-control"
                                            [(ngModel)]="transferBudget.projectActivities" name="ProjectActivities" />
                                        <label for="TransferBudget_ProjectActivities">{{ l('ProjectActivities')
                                            }}</label>
                                        <validation-messages
                                            [formCtrl]="TransferBudget_ProjectActivities"></validation-messages>

                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->

                            <!--begin::Row-->
                            <div class="row gx-10 mb-15">
                                <!--begin::Col-->
                                <div class="col-lg-12">
                                    <textarea #TransferBudget_Purpose="ngModel" id="TransferBudget_Purpose"
                                        placeholder="Whats Purpose?" class="form-control form-control-solid" rows="3"
                                        [(ngModel)]="transferBudget.purpose" name="Purpose" required></textarea>
                                    <validation-messages [formCtrl]="TransferBudget_Purpose"></validation-messages>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->

                            <div class="card mb-15 bg-light">
                                <div class="card-header">
                                    <h3 class="card-title">SENDER COST CENTER</h3>
                                    <div class="card-toolbar">
                                        <button type="button" (click)="openSelectCostCenterModal()"
                                            class="btn btn-sm btn-primary blue rounded-1">
                                            <i class="fa fa-search ng-tns-c248-6"></i> Pick
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-5 pb-0">
                                    <!--begin::Table wrapper-->
                                    <div class="table-responsive mb-10">
                                        <div class="primeng-datatable-container col-12"
                                            [busyIf]="primengTableHelper.isLoading">
                                            <p-table #dataTable [value]="primengTableHelperCostCenterFrom.records"
                                                rows="{{ primengTableHelperCostCenterFrom.defaultRecordsCountPerPage }}"
                                                [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                                [tableStyle]="{ 'min-width': '50rem' }"
                                                [resizableColumns]="primengTableHelperCostCenterFrom.resizableColumns">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="department" class="bg-black text-white"
                                                            style="width: 300px;">
                                                            DEPARTMENT
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="costCenterCode"
                                                            class="bg-black text-white">
                                                            COST CENTER
                                                        </th>
                                                        <th pSortableColumn="costCenterName"
                                                            class="bg-black text-white">
                                                            DESCRIPTION
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="department"
                                                            class="bg-black text-white">
                                                            AMOUNT
                                                        </th>
                                                        <th style="width: 50px" class="bg-black"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-record="$implicit"
                                                    let-editing="editing" let-i="rowIndex">
                                                    <tr [pEditableRow]="record">
                                                        <td>
                                                            {{ record.departmentName }}
                                                        </td>
                                                        <td style="width: 150px">
                                                            {{ record.costCenterCode }}
                                                        </td>
                                                        <td>
                                                            {{ record.costCenterName }}
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="record.amountTo"
                                                                class="form-control py-2 rounded-1 text-right" required>
                                                        </td>
                                                        <td>
                                                            <button type="button"
                                                                (click)="deleteBudgetItemSender(record)"
                                                                class="btn btn-active-icon-danger btn-text-danger"><i
                                                                    class="bi bi-x-circle fs-4"></i></button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                            <div class="primeng-no-data"
                                                *ngIf="primengTableHelperCostCenterFrom.totalRecordsCount == 0">
                                                {{ l('NoData') }}
                                            </div>


                                        </div>

                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>


                            <div class="card mb-15 bg-light">
                                <div class="card-header">
                                    <h3 class="card-title">RECEIVER COST CENTER</h3>
                                    <div class="card-toolbar">
                                        <button type="button" (click)="openSelectCostCenterToModal()"
                                            [disabled]="!transferBudget.department"
                                            class="btn btn-sm btn-primary blue rounded-1">
                                            <i class="fa fa-search ng-tns-c248-6"></i> Pick
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-5 pb-0">
                                    <!--begin::Table wrapper-->
                                    <div class="table-responsive mb-10">
                                        <div class="primeng-datatable-container col-12"
                                            [busyIf]="primengTableHelper.isLoading">
                                            <p-table #dataTable [value]="primengTableHelperCostCenterTo.records"
                                                rows="{{ primengTableHelperCostCenterTo.defaultRecordsCountPerPage }}"
                                                [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                                [tableStyle]="{ 'min-width': '50rem' }"
                                                [resizableColumns]="primengTableHelperCostCenterTo.resizableColumns">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="department" class="bg-black text-white"
                                                            style="width: 300px;">
                                                            DEPARTMENT
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="costCenterCode"
                                                            class="bg-black text-white">
                                                            COST CENTER
                                                        </th>
                                                        <th pSortableColumn="costCenterName"
                                                            class="bg-black text-white">
                                                            DESCRIPTION
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="department"
                                                            class="bg-black text-white">
                                                            AMOUNT
                                                        </th>
                                                        <th style="width: 50px" class="bg-black"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-record="$implicit"
                                                    let-editing="editing" let-i="rowIndex">
                                                    <tr [pEditableRow]="record">
                                                        <td>
                                                            {{ record.departmentName }}
                                                        </td>
                                                        <td style="width: 150px">
                                                            {{ record.costCenterCode }}
                                                        </td>
                                                        <td>
                                                            {{ record.costCenterName }}
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="record.amountTo"
                                                                class="form-control py-2 rounded-1 text-right" required>
                                                        </td>
                                                        <td>
                                                            <button type="button"
                                                                (click)="deleteBudgetItemReceiver(record)"
                                                                class="btn btn-active-icon-danger btn-text-danger"><i
                                                                    class="bi bi-x-circle fs-4"></i></button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                            <div class="primeng-no-data"
                                                *ngIf="primengTableHelperCostCenterTo.totalRecordsCount == 0">
                                                {{ l('NoData') }}
                                            </div>

                                        </div>

                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>

                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->

                <div class="card">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-800">TRANSFER BUDGET JUSTIFICATION</span>
                        </h3>
                        <!--end::Title-->

                    </div>
                    <!--end::Header-->

                    <!--begin::Body-->
                    <div class="card-body pt-6">

                        <!--begin::Row-->
                        <div class="row gx-10 mb-5">
                            <!--begin::Col-->
                            <div class="col-lg-12">
                                <textarea #TransferBudget_Reason="ngModel" id="TransferBudget_Reason"
                                    class="form-control form-control-solid" rows="3" [(ngModel)]="transferBudget.reason"
                                    name="Reason" placeholder="Reason?" required></textarea>
                                <validation-messages [formCtrl]="TransferBudget_Reason"></validation-messages>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row gx-10 mb-5">
                            <!--begin::Col-->
                            <div class="col-lg-12">
                                <textarea type="text" #TransferBudget_ScopeofWork="ngModel"
                                    id="TransferBudget_ScopeofWork" class="form-control form-control-solid" rows="3"
                                    [(ngModel)]="transferBudget.scopeofWork" name="ScopeofWork"
                                    placeholder="Scope of Work?" required></textarea>
                                <validation-messages [formCtrl]="TransferBudget_ScopeofWork"></validation-messages>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row gx-10 mb-5">
                            <!--begin::Col-->
                            <div class="col-lg-12">
                                <textarea type="text" #TransferBudget_Location="ngModel" id="TransferBudget_Location"
                                    class="form-control form-control-solid" rows="3"
                                    [(ngModel)]="transferBudget.location" name="Location" placeholder="Where Location?"
                                    required></textarea>
                                <validation-messages [formCtrl]="TransferBudget_Location"></validation-messages>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->


                    </div>
                    <!--end: Card Body-->
                </div>



                <div class="card card-custom gutter-b d-none">
                    <div class="card-body">



                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                            <button *ngIf="!this.transferBudget.id" (click)="saveAndNew()"
                                class="btn btn-primary blue float-right" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('SaveAndNew') }}</span>
                            </button>
                        </div>
                    </div>
                </div>



            </div>
            <!--end::Content-->

            <!--begin::Sidebar-->
            <div class="flex-lg-auto min-w-lg-400px">
                <!--begin::Card-->
                <div class="card" data-kt-sticky="true" data-kt-sticky-name="invoice"
                    data-kt-sticky-offset="{default: false, lg: '300px'}"
                    data-kt-sticky-width="{lg: '350px', lg: '400px'}" data-kt-sticky-left="auto"
                    data-kt-sticky-top="100px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                    <!--begin::Card body-->

                    <div class="card-header">
                        <h3 class="card-title">Approval List</h3>
                    </div>

                    <div class="card-body p-5">

                        <div class="hover-scroll-overlay-y pe-6 me-n6" style="height: 400px;">

                            <!--begin::Item-->
                            <div *ngFor="let approvalTitle of approvalList" 
                            class="border border-dashed border-gray-300 rounded px-7 py-3 mb-5">
                                <!--begin::Info-->
                                <div class="d-flex flex-stack">
                                    <!--begin::Wrapper-->
                                    <div class="me-3 mb-3">
                                        <span class="text-gray-400 text-hover-primary fw-bold">Please select Person</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Info-->
                                
                                <div class="d-flex flex-stack">
                                    <!--begin::Name-->
                                    <span class="text-gray-500 fw-bold">To:
                                        <span class="text-gray-800 text-hover-primary fw-bold">{{ approvalTitle }}</span>
                                    </span>
                                    <!--end::Name-->

                                    <!--begin::Label-->
                                    <button type="button" class="btn btn-sm py-1 btn-light-primary">Select</button>
                                    <!--end::Label-->
                                </div>
                            </div>
                            <!--end::Item-->

                        </div>

                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-8"></div>
                        <!--end::Separator-->
                        <!--begin::Actions-->
                        <div class="mb-0">
                            <button (click)="save()" class="btn btn-primary w-100" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>

                            <button type="submit" href="#" class="btn btn-primary w-100 d-none" id="kt_invoice_submit_button">
                                <i class="ki-duotone ki-triangle fs-3">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>Send Invoice</button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Card body-->


                    <div class="card-footer d-none">
                        <div class="col-lg-12">
                            <button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                            <button *ngIf="!this.transferBudget.id" (click)="saveAndNew()"
                                class="btn btn-primary blue float-right" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('SaveAndNew') }}</span>
                            </button>
                        </div>
                    </div>

                </div>
                <!--end::Card-->
            </div>
            <!--end::Sidebar-->
        </div>
        <!--end::Layout-->




    </div>
</div>

<lookupPageCostCenterLookupTableModal #lookupPageCostCenterLookupTableModal (modalSave)="getNewCostCenterId()">
</lookupPageCostCenterLookupTableModal>