<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #costCenterForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="costCenter.id">{{ l('EditCostCenter') }}</span>
                        <span *ngIf="!costCenter.id">{{ l('CreateNewCostCenter') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="CostCenter_ControllingArea">{{ l('ControllingArea') }} *</label>
                        <input
                            type="text"
                            #CostCenter_ControllingArea="ngModel"
                            id="CostCenter_ControllingArea"
                            class="form-control"
                            [(ngModel)]="costCenter.controllingArea"
                            name="ControllingArea"
                            required
                        />
                        <validation-messages [formCtrl]="CostCenter_ControllingArea"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_CostCenterName">{{ l('CostCenterName') }} *</label>
                        <input
                            type="text"
                            #CostCenter_CostCenterName="ngModel"
                            id="CostCenter_CostCenterName"
                            class="form-control"
                            [(ngModel)]="costCenter.costCenterName"
                            name="CostCenterName"
                            required
                        />
                        <validation-messages [formCtrl]="CostCenter_CostCenterName"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_Description">{{ l('Description') }}</label>
                        <input
                            type="text"
                            #CostCenter_Description="ngModel"
                            id="CostCenter_Description"
                            class="form-control"
                            [(ngModel)]="costCenter.description"
                            name="Description"
                        />
                        <validation-messages [formCtrl]="CostCenter_Description"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_ActState">{{ l('ActState') }}</label>
                        <input
                            type="text"
                            #CostCenter_ActState="ngModel"
                            id="CostCenter_ActState"
                            class="form-control"
                            [(ngModel)]="costCenter.actState"
                            name="ActState"
                        />
                        <validation-messages [formCtrl]="CostCenter_ActState"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="CostCenter_IsActive"
                            #CostCenter_IsActive="ngModel"
                            name="IsActive"
                            [(ngModel)]="costCenter.isActive"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsActive') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="CostCenter_IsActive"></validation-messages>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_CostCenterCode">{{ l('CostCenterCode') }} *</label>
                        <input
                            type="text"
                            #CostCenter_CostCenterCode="ngModel"
                            id="CostCenter_CostCenterCode"
                            class="form-control"
                            [(ngModel)]="costCenter.costCenterCode"
                            name="CostCenterCode"
                            required
                        />
                        <validation-messages [formCtrl]="CostCenter_CostCenterCode"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_CostCenterShort">{{ l('CostCenterShort') }}</label>
                        <input
                            type="text"
                            #CostCenter_CostCenterShort="ngModel"
                            id="CostCenter_CostCenterShort"
                            class="form-control"
                            [(ngModel)]="costCenter.costCenterShort"
                            name="CostCenterShort"
                        />
                        <validation-messages [formCtrl]="CostCenter_CostCenterShort"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_DepartmentName">{{ l('DepartmentName') }}</label>
                        <input
                            type="text"
                            #CostCenter_DepartmentName="ngModel"
                            id="CostCenter_DepartmentName"
                            class="form-control"
                            [(ngModel)]="costCenter.departmentName"
                            name="DepartmentName"
                        />
                        <validation-messages [formCtrl]="CostCenter_DepartmentName"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="CostCenter_Period">{{ l('Period') }} *</label>
                        <input
                            type="text"
                            #CostCenter_Period="ngModel"
                            id="CostCenter_Period"
                            class="form-control"
                            [(ngModel)]="costCenter.period"
                            name="Period"
                            required
                        />
                        <validation-messages [formCtrl]="CostCenter_Period"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!costCenterForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
