<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #rptProcurementAdjustForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rptProcurementAdjust.id">{{ l('EditRptProcurementAdjust') }}</span>
                        <span *ngIf="!rptProcurementAdjust.id">{{ l('CreateNewRptProcurementAdjust') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="RptProcurementAdjust_PurchasingDocument">
                            {{ l('PurchasingDocument') }} *
                        </label>
                        <input
                            type="text"
                            #RptProcurementAdjust_PurchasingDocument="ngModel"
                            id="RptProcurementAdjust_PurchasingDocument"
                            class="form-control"
                            [(ngModel)]="rptProcurementAdjust.purchasingDocument"
                            name="PurchasingDocument"
                            required
                        />
                        <validation-messages [formCtrl]="RptProcurementAdjust_PurchasingDocument"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="RptProcurementAdjust_IsContract"
                            #RptProcurementAdjust_IsContract="ngModel"
                            name="IsContract"
                            [(ngModel)]="rptProcurementAdjust.isContract"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsContract') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="RptProcurementAdjust_IsContract"></validation-messages>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="RptProcurementAdjust_IsAdjust"
                            #RptProcurementAdjust_IsAdjust="ngModel"
                            name="IsAdjust"
                            [(ngModel)]="rptProcurementAdjust.isAdjust"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsAdjust') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="RptProcurementAdjust_IsAdjust"></validation-messages>

                    <div class="my5">
                        <label class="form-label" for="RptProcurementAdjust_DayAdjust">{{ l('DayAdjust') }}</label>
                        <input
                            type="number"
                            #RptProcurementAdjust_DayAdjust="ngModel"
                            id="RptProcurementAdjust_DayAdjust"
                            class="form-control"
                            [(ngModel)]="rptProcurementAdjust.dayAdjust"
                            name="DayAdjust"
                        />
                        <validation-messages [formCtrl]="RptProcurementAdjust_DayAdjust"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="RptProcurementAdjust_Remark">{{ l('Remark') }}</label>
                        <input
                            type="text"
                            #RptProcurementAdjust_Remark="ngModel"
                            id="RptProcurementAdjust_Remark"
                            class="form-control"
                            [(ngModel)]="rptProcurementAdjust.remark"
                            name="Remark"
                        />
                        <validation-messages [formCtrl]="RptProcurementAdjust_Remark"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!rptProcurementAdjustForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
