<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>               
                
                
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("GLAccount")}} :</h6>
                        {{ item.generalLedgerMapping.glAccount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("GLAccountDescription")}} :</h6>
                        {{ item.generalLedgerMapping.glAccountDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("MappingType")}} :</h6>
                        {{ item.generalLedgerMapping.mappingType }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ValuationClass")}} :</h6>
                        {{ item.generalLedgerMapping.valuationClass }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ValuationClassDescription")}} :</h6>
                        {{ item.generalLedgerMapping.valuationClassDescription }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
