<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #transferBudgetItemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="transferBudgetItem.id">{{ l('EditTransferBudgetItem') }}</span>
                        <span *ngIf="!transferBudgetItem.id">{{ l('CreateNewTransferBudgetItem') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="TransferBudgetDisplayProperty">{{ l('TransferBudget') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="TransferBudgetDisplayProperty"
                                name="transferBudgetDisplayProperty"
                                [(ngModel)]="transferBudgetDisplayProperty"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectTransferBudgetModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setTransferBudgetIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="transferBudgetItem.transferBudgetId"
                        [(ngModel)]="transferBudgetItem.transferBudgetId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="CostCenterDisplayProperty">{{ l('CostCenter') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="CostCenterDisplayProperty"
                                name="costCenterDisplayProperty"
                                [(ngModel)]="costCenterDisplayProperty"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectCostCenterModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setCostCenterIdFromNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="transferBudgetItem.costCenterIdFrom"
                        [(ngModel)]="transferBudgetItem.costCenterIdFrom"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="CostCenterDisplayProperty2">{{ l('CostCenter') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="CostCenterDisplayProperty2"
                                name="costCenterDisplayProperty2"
                                [(ngModel)]="costCenterDisplayProperty2"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectCostCenterModal2()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setCostCenterIdToNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="transferBudgetItem.costCenterIdTo"
                        [(ngModel)]="transferBudgetItem.costCenterIdTo"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="TransferBudgetItem_PeriodFrom">{{ l('PeriodFrom') }} *</label>
                        <input
                            type="text"
                            #TransferBudgetItem_PeriodFrom="ngModel"
                            id="TransferBudgetItem_PeriodFrom"
                            class="form-control"
                            [(ngModel)]="transferBudgetItem.periodFrom"
                            name="PeriodFrom"
                            required
                        />
                        <validation-messages [formCtrl]="TransferBudgetItem_PeriodFrom"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="TransferBudgetItem_AmountFrom">{{ l('AmountFrom') }}</label>
                        <input
                            type="number"
                            #TransferBudgetItem_AmountFrom="ngModel"
                            id="TransferBudgetItem_AmountFrom"
                            class="form-control"
                            [(ngModel)]="transferBudgetItem.amountFrom"
                            name="AmountFrom"
                            step="18"
                        />
                        <validation-messages [formCtrl]="TransferBudgetItem_AmountFrom"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="TransferBudgetItem_PeriodTo">{{ l('PeriodTo') }} *</label>
                        <input
                            type="text"
                            #TransferBudgetItem_PeriodTo="ngModel"
                            id="TransferBudgetItem_PeriodTo"
                            class="form-control"
                            [(ngModel)]="transferBudgetItem.periodTo"
                            name="PeriodTo"
                            required
                        />
                        <validation-messages [formCtrl]="TransferBudgetItem_PeriodTo"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="TransferBudgetItem_AmountTo">{{ l('AmountTo') }}</label>
                        <input
                            type="number"
                            #TransferBudgetItem_AmountTo="ngModel"
                            id="TransferBudgetItem_AmountTo"
                            class="form-control"
                            [(ngModel)]="transferBudgetItem.amountTo"
                            name="AmountTo"
                            step="18"
                        />
                        <validation-messages [formCtrl]="TransferBudgetItem_AmountTo"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!transferBudgetItemForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <transferBudgetItemTransferBudgetLookupTableModal
        #transferBudgetItemTransferBudgetLookupTableModal
        (modalSave)="getNewTransferBudgetId()"
    ></transferBudgetItemTransferBudgetLookupTableModal>
    <transferBudgetItemCostCenterLookupTableModal
        #transferBudgetItemCostCenterLookupTableModal
        (modalSave)="getNewCostCenterIdFrom()"
    ></transferBudgetItemCostCenterLookupTableModal>
    <transferBudgetItemCostCenterLookupTableModal
        #transferBudgetItemCostCenterLookupTableModal2
        (modalSave)="getNewCostCenterIdTo()"
    ></transferBudgetItemCostCenterLookupTableModal>
</div>
