<div [@routerTransition]>
    <sub-header [title]="'TransferBudgetItems' | localize" [description]="'TransferBudgetItemsHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button
                id="btn_create_transferBudgetItem"
                *ngIf="isGranted('Pages.TransferBudgetItems.Create')"
                (click)="createTransferBudgetItem()"
                class="btn btn-primary blue"
            >
                <i class="fa fa-plus"></i>
                {{ l('CreateNewTransferBudgetItem') }}
            </button>
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input
                                            [(ngModel)]="filterText"
                                            (ngModelChange)="getTransferBudgetItems()"
                                            name="filterText"
                                            autoFocus
                                            type="text"
                                            class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')"
                                        />
                                        <button
                                            class="btn btn-primary"
                                            type="submit"
                                            (click)="getTransferBudgetItems()"
                                        >
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PeriodFromFilter">{{ l('PeriodFrom') }}</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="PeriodFromFilter"
                                        name="periodFromFilter"
                                        [(ngModel)]="periodFromFilter"
                                        (ngModelChange)="getTransferBudgetItems()"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinAmountFromFilter">
                                        {{ l('MinMax') }} {{ l('AmountFrom') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinAmountFromFilter"
                                            [(ngModel)]="minAmountFromFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minAmountFromFilter"
                                            (ngModelChange)="getTransferBudgetItems()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxAmountFromFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxAmountFromFilter"
                                            (ngModelChange)="getTransferBudgetItems()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PeriodToFilter">{{ l('PeriodTo') }}</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="PeriodToFilter"
                                        name="periodToFilter"
                                        [(ngModel)]="periodToFilter"
                                        (ngModelChange)="getTransferBudgetItems()"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinAmountToFilter">
                                        {{ l('MinMax') }} {{ l('AmountTo') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinAmountToFilter"
                                            [(ngModel)]="minAmountToFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minAmountToFilter"
                                            (ngModelChange)="getTransferBudgetItems()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxAmountToFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxAmountToFilter"
                                            (ngModelChange)="getTransferBudgetItems()"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="TransferBudgetDisplayPropertyFilter">
                                        ({{ l('TransferBudget') }}) {{ l('DisplayProperty') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="TransferBudgetDisplayPropertyFilter"
                                        name="transferBudgetDisplayPropertyFilter"
                                        [(ngModel)]="transferBudgetDisplayPropertyFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CostCenterDisplayPropertyFilter">
                                        ({{ l('CostCenter') }}) {{ l('DisplayProperty') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CostCenterDisplayPropertyFilter"
                                        name="costCenterDisplayPropertyFilter"
                                        [(ngModel)]="costCenterDisplayPropertyFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CostCenterDisplayProperty2Filter">
                                        ({{ l('CostCenter2') }}) {{ l('DisplayProperty') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CostCenterDisplayProperty2Filter"
                                        name="costCenterDisplayProperty2Filter"
                                        [(ngModel)]="costCenterDisplayProperty2Filter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button
                                    (click)="resetFilters()"
                                    class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters"
                                >
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getTransferBudgetItems($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [tableStyle]="{ 'min-width': '50rem' }"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.TransferBudgetItems.Edit',
                                                'Pages.TransferBudgetItems.Delete'
                                            )
                                        "
                                    >
                                        {{ l('Actions') }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="transferBudgetFk.displayProperty">
                                        {{ l('DisplayProperty') }}
                                        <p-sortIcon field="transferBudgetDisplayProperty"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="costCenterIdFromFk.displayProperty">
                                        {{ l('DisplayProperty') }}
                                        <p-sortIcon field="costCenterDisplayProperty"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="costCenterIdToFk.displayProperty">
                                        {{ l('DisplayProperty') }}
                                        <p-sortIcon field="costCenterDisplayProperty2"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="periodFrom">
                                        {{ l('PeriodFrom') }}
                                        <p-sortIcon field="transferBudgetItem.periodFrom"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="amountFrom">
                                        {{ l('AmountFrom') }}
                                        <p-sortIcon field="transferBudgetItem.amountFrom"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="periodTo">
                                        {{ l('PeriodTo') }}
                                        <p-sortIcon field="transferBudgetItem.periodTo"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="amountTo">
                                        {{ l('AmountTo') }}
                                        <p-sortIcon field="transferBudgetItem.amountTo"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.TransferBudgetItems.Edit',
                                                'Pages.TransferBudgetItems.Delete'
                                            )
                                        "
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        (click)="viewTransferBudgetItemModal.show(record)"
                                                    >
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.TransferBudgetItems.Edit')"
                                                        class="dropdown-item"
                                                        (click)="
                                                            createOrEditTransferBudgetItemModal.show(
                                                                record.transferBudgetItem.id
                                                            )
                                                        "
                                                    >
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.TransferBudgetItems.Delete')"
                                                        (click)="deleteTransferBudgetItem(record.transferBudgetItem)"
                                                    >
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayProperty') }}</span>
                                        {{ record.transferBudgetDisplayProperty }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayProperty') }}</span>
                                        {{ record.costCenterDisplayProperty }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayProperty') }}</span>
                                        {{ record.costCenterDisplayProperty2 }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('PeriodFrom') }}</span>
                                        {{ record.transferBudgetItem.periodFrom }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('AmountFrom') }}</span>
                                        {{ record.transferBudgetItem.amountFrom }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('PeriodTo') }}</span>
                                        {{ record.transferBudgetItem.periodTo }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('AmountTo') }}</span>
                                        {{ record.transferBudgetItem.amountTo }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getTransferBudgetItems($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "
                            ></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditTransferBudgetItemModal
        #createOrEditTransferBudgetItemModal
        (modalSave)="getTransferBudgetItems()"
    ></createOrEditTransferBudgetItemModal>
    <viewTransferBudgetItemModal #viewTransferBudgetItemModal></viewTransferBudgetItemModal>
</div>
