<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #enumTableForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="enumTable.id">{{l("EditEnumTable")}}</span>
                        <span *ngIf="!enumTable.id">{{l("CreateNewEnumTable")}}</span>
                    </h4>                    
                    
                    
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
                </div>
                <div class="modal-body">
                 




								<div class="my-3">
									<label class="form-label" for="EnumTable_EnumCode">{{l("EnumCode")}} *</label>
									<input type="text" #EnumTable_EnumCode="ngModel" id="EnumTable_EnumCode" class="form-control" [(ngModel)]="enumTable.enumCode" name="EnumCode"   minlength="0"  maxlength="50"  required/>
								    <validation-messages [formCtrl]="EnumTable_EnumCode"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="EnumTable_EnumValue">{{l("EnumValue")}} *</label>
									<input type="text" #EnumTable_EnumValue="ngModel" id="EnumTable_EnumValue" class="form-control" [(ngModel)]="enumTable.enumValue" name="EnumValue"   minlength="0"  maxlength="100"  required/>
								    <validation-messages [formCtrl]="EnumTable_EnumValue"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="EnumTable_EnumLabel">{{l("EnumLabel")}} *</label>
									<input type="text" #EnumTable_EnumLabel="ngModel" id="EnumTable_EnumLabel" class="form-control" [(ngModel)]="enumTable.enumLabel" name="EnumLabel"   minlength="0"  maxlength="100"  required/>
								    <validation-messages [formCtrl]="EnumTable_EnumLabel"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!enumTableForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>