<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ekpoForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ekpo.id">{{ l('EditEKPO') }}</span>
                        <span *ngIf="!ekpo.id">{{ l('CreateNewEKPO') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="EKPO_MANDT">{{ l('MANDT') }}</label>
                        <input
                            type="text"
                            #EKPO_MANDT="ngModel"
                            id="EKPO_MANDT"
                            class="form-control"
                            [(ngModel)]="ekpo.mandt"
                            name="MANDT"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_MANDT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_EBELN">{{ l('EBELN') }}</label>
                        <input
                            type="text"
                            #EKPO_EBELN="ngModel"
                            id="EKPO_EBELN"
                            class="form-control"
                            [(ngModel)]="ekpo.ebeln"
                            name="EBELN"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_EBELN"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_EBELP">{{ l('EBELP') }}</label>
                        <input
                            type="number"
                            #EKPO_EBELP="ngModel"
                            id="EKPO_EBELP"
                            class="form-control"
                            [(ngModel)]="ekpo.ebelp"
                            name="EBELP"
                        />
                        <validation-messages [formCtrl]="EKPO_EBELP"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_UNIQUEID">{{ l('UNIQUEID') }}</label>
                        <input
                            type="text"
                            #EKPO_UNIQUEID="ngModel"
                            id="EKPO_UNIQUEID"
                            class="form-control"
                            [(ngModel)]="ekpo.uniqueid"
                            name="UNIQUEID"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_UNIQUEID"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_LOEKZ">{{ l('LOEKZ') }}</label>
                        <input
                            type="text"
                            #EKPO_LOEKZ="ngModel"
                            id="EKPO_LOEKZ"
                            class="form-control"
                            [(ngModel)]="ekpo.loekz"
                            name="LOEKZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_LOEKZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_STATU">{{ l('STATU') }}</label>
                        <input
                            type="text"
                            #EKPO_STATU="ngModel"
                            id="EKPO_STATU"
                            class="form-control"
                            [(ngModel)]="ekpo.statu"
                            name="STATU"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_STATU"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_AEDAT">{{ l('AEDAT') }}</label>
                        <input
                            class="form-control m-input"
                            #EKPO_AEDAT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekpo.aedat"
                            id="EKPO_AEDAT"
                            name="EKPO_AEDAT"
                        />
                        <validation-messages [formCtrl]="EKPO_AEDAT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_TXZ01">{{ l('TXZ01') }}</label>
                        <input
                            type="text"
                            #EKPO_TXZ01="ngModel"
                            id="EKPO_TXZ01"
                            class="form-control"
                            [(ngModel)]="ekpo.txZ01"
                            name="TXZ01"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_TXZ01"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_MATNR">{{ l('MATNR') }}</label>
                        <input
                            type="text"
                            #EKPO_MATNR="ngModel"
                            id="EKPO_MATNR"
                            class="form-control"
                            [(ngModel)]="ekpo.matnr"
                            name="MATNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_MATNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_EMATN">{{ l('EMATN') }}</label>
                        <input
                            type="text"
                            #EKPO_EMATN="ngModel"
                            id="EKPO_EMATN"
                            class="form-control"
                            [(ngModel)]="ekpo.ematn"
                            name="EMATN"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_EMATN"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BUKRS">{{ l('BUKRS') }}</label>
                        <input
                            type="text"
                            #EKPO_BUKRS="ngModel"
                            id="EKPO_BUKRS"
                            class="form-control"
                            [(ngModel)]="ekpo.bukrs"
                            name="BUKRS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BUKRS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_WERKS">{{ l('WERKS') }}</label>
                        <input
                            type="text"
                            #EKPO_WERKS="ngModel"
                            id="EKPO_WERKS"
                            class="form-control"
                            [(ngModel)]="ekpo.werks"
                            name="WERKS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_WERKS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_LGORT">{{ l('LGORT') }}</label>
                        <input
                            type="text"
                            #EKPO_LGORT="ngModel"
                            id="EKPO_LGORT"
                            class="form-control"
                            [(ngModel)]="ekpo.lgort"
                            name="LGORT"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_LGORT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BEDNR">{{ l('BEDNR') }}</label>
                        <input
                            type="text"
                            #EKPO_BEDNR="ngModel"
                            id="EKPO_BEDNR"
                            class="form-control"
                            [(ngModel)]="ekpo.bednr"
                            name="BEDNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BEDNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_MATKL">{{ l('MATKL') }}</label>
                        <input
                            type="text"
                            #EKPO_MATKL="ngModel"
                            id="EKPO_MATKL"
                            class="form-control"
                            [(ngModel)]="ekpo.matkl"
                            name="MATKL"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_MATKL"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_INFNR">{{ l('INFNR') }}</label>
                        <input
                            type="text"
                            #EKPO_INFNR="ngModel"
                            id="EKPO_INFNR"
                            class="form-control"
                            [(ngModel)]="ekpo.infnr"
                            name="INFNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_INFNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_IDNLF">{{ l('IDNLF') }}</label>
                        <input
                            type="text"
                            #EKPO_IDNLF="ngModel"
                            id="EKPO_IDNLF"
                            class="form-control"
                            [(ngModel)]="ekpo.idnlf"
                            name="IDNLF"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_IDNLF"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_KTMNG">{{ l('KTMNG') }}</label>
                        <input
                            type="number"
                            #EKPO_KTMNG="ngModel"
                            id="EKPO_KTMNG"
                            class="form-control"
                            [(ngModel)]="ekpo.ktmng"
                            name="KTMNG"
                        />
                        <validation-messages [formCtrl]="EKPO_KTMNG"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_MENGE">{{ l('MENGE') }}</label>
                        <input
                            type="number"
                            #EKPO_MENGE="ngModel"
                            id="EKPO_MENGE"
                            class="form-control"
                            [(ngModel)]="ekpo.menge"
                            name="MENGE"
                        />
                        <validation-messages [formCtrl]="EKPO_MENGE"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_MEINS">{{ l('MEINS') }}</label>
                        <input
                            type="text"
                            #EKPO_MEINS="ngModel"
                            id="EKPO_MEINS"
                            class="form-control"
                            [(ngModel)]="ekpo.meins"
                            name="MEINS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_MEINS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BPRME">{{ l('BPRME') }}</label>
                        <input
                            type="text"
                            #EKPO_BPRME="ngModel"
                            id="EKPO_BPRME"
                            class="form-control"
                            [(ngModel)]="ekpo.bprme"
                            name="BPRME"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BPRME"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_BPUMZ">{{ l('BPUMZ') }}</label>
                        <input
                            type="number"
                            #EKPO_BPUMZ="ngModel"
                            id="EKPO_BPUMZ"
                            class="form-control"
                            [(ngModel)]="ekpo.bpumz"
                            name="BPUMZ"
                        />
                        <validation-messages [formCtrl]="EKPO_BPUMZ"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_BPUMN">{{ l('BPUMN') }}</label>
                        <input
                            type="number"
                            #EKPO_BPUMN="ngModel"
                            id="EKPO_BPUMN"
                            class="form-control"
                            [(ngModel)]="ekpo.bpumn"
                            name="BPUMN"
                        />
                        <validation-messages [formCtrl]="EKPO_BPUMN"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_UMREZ">{{ l('UMREZ') }}</label>
                        <input
                            type="number"
                            #EKPO_UMREZ="ngModel"
                            id="EKPO_UMREZ"
                            class="form-control"
                            [(ngModel)]="ekpo.umrez"
                            name="UMREZ"
                        />
                        <validation-messages [formCtrl]="EKPO_UMREZ"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_UMREN">{{ l('UMREN') }}</label>
                        <input
                            type="number"
                            #EKPO_UMREN="ngModel"
                            id="EKPO_UMREN"
                            class="form-control"
                            [(ngModel)]="ekpo.umren"
                            name="UMREN"
                        />
                        <validation-messages [formCtrl]="EKPO_UMREN"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_NETPR">{{ l('NETPR') }}</label>
                        <input
                            type="number"
                            #EKPO_NETPR="ngModel"
                            id="EKPO_NETPR"
                            class="form-control"
                            [(ngModel)]="ekpo.netpr"
                            name="NETPR"
                        />
                        <validation-messages [formCtrl]="EKPO_NETPR"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_PEINH">{{ l('PEINH') }}</label>
                        <input
                            type="number"
                            #EKPO_PEINH="ngModel"
                            id="EKPO_PEINH"
                            class="form-control"
                            [(ngModel)]="ekpo.peinh"
                            name="PEINH"
                        />
                        <validation-messages [formCtrl]="EKPO_PEINH"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_NETWR">{{ l('NETWR') }}</label>
                        <input
                            type="number"
                            #EKPO_NETWR="ngModel"
                            id="EKPO_NETWR"
                            class="form-control"
                            [(ngModel)]="ekpo.netwr"
                            name="NETWR"
                        />
                        <validation-messages [formCtrl]="EKPO_NETWR"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_BRTWR">{{ l('BRTWR') }}</label>
                        <input
                            type="number"
                            #EKPO_BRTWR="ngModel"
                            id="EKPO_BRTWR"
                            class="form-control"
                            [(ngModel)]="ekpo.brtwr"
                            name="BRTWR"
                        />
                        <validation-messages [formCtrl]="EKPO_BRTWR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_AGDAT">{{ l('AGDAT') }}</label>
                        <input
                            class="form-control m-input"
                            #EKPO_AGDAT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekpo.agdat"
                            id="EKPO_AGDAT"
                            name="EKPO_AGDAT"
                        />
                        <validation-messages [formCtrl]="EKPO_AGDAT"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_WEBAZ">{{ l('WEBAZ') }}</label>
                        <input
                            type="number"
                            #EKPO_WEBAZ="ngModel"
                            id="EKPO_WEBAZ"
                            class="form-control"
                            [(ngModel)]="ekpo.webaz"
                            name="WEBAZ"
                        />
                        <validation-messages [formCtrl]="EKPO_WEBAZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_MWSKZ">{{ l('MWSKZ') }}</label>
                        <input
                            type="text"
                            #EKPO_MWSKZ="ngModel"
                            id="EKPO_MWSKZ"
                            class="form-control"
                            [(ngModel)]="ekpo.mwskz"
                            name="MWSKZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_MWSKZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BONUS">{{ l('BONUS') }}</label>
                        <input
                            type="text"
                            #EKPO_BONUS="ngModel"
                            id="EKPO_BONUS"
                            class="form-control"
                            [(ngModel)]="ekpo.bonus"
                            name="BONUS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BONUS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_INSMK">{{ l('INSMK') }}</label>
                        <input
                            type="text"
                            #EKPO_INSMK="ngModel"
                            id="EKPO_INSMK"
                            class="form-control"
                            [(ngModel)]="ekpo.insmk"
                            name="INSMK"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_INSMK"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_SPINF">{{ l('SPINF') }}</label>
                        <input
                            type="text"
                            #EKPO_SPINF="ngModel"
                            id="EKPO_SPINF"
                            class="form-control"
                            [(ngModel)]="ekpo.spinf"
                            name="SPINF"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_SPINF"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_PRSDR">{{ l('PRSDR') }}</label>
                        <input
                            type="text"
                            #EKPO_PRSDR="ngModel"
                            id="EKPO_PRSDR"
                            class="form-control"
                            [(ngModel)]="ekpo.prsdr"
                            name="PRSDR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_PRSDR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BWTAR">{{ l('BWTAR') }}</label>
                        <input
                            type="text"
                            #EKPO_BWTAR="ngModel"
                            id="EKPO_BWTAR"
                            class="form-control"
                            [(ngModel)]="ekpo.bwtar"
                            name="BWTAR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BWTAR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BWTTY">{{ l('BWTTY') }}</label>
                        <input
                            type="text"
                            #EKPO_BWTTY="ngModel"
                            id="EKPO_BWTTY"
                            class="form-control"
                            [(ngModel)]="ekpo.bwtty"
                            name="BWTTY"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BWTTY"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_ABSKZ">{{ l('ABSKZ') }}</label>
                        <input
                            type="text"
                            #EKPO_ABSKZ="ngModel"
                            id="EKPO_ABSKZ"
                            class="form-control"
                            [(ngModel)]="ekpo.abskz"
                            name="ABSKZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_ABSKZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_PSTYP">{{ l('PSTYP') }}</label>
                        <input
                            type="text"
                            #EKPO_PSTYP="ngModel"
                            id="EKPO_PSTYP"
                            class="form-control"
                            [(ngModel)]="ekpo.pstyp"
                            name="PSTYP"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_PSTYP"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_KNTTP">{{ l('KNTTP') }}</label>
                        <input
                            type="text"
                            #EKPO_KNTTP="ngModel"
                            id="EKPO_KNTTP"
                            class="form-control"
                            [(ngModel)]="ekpo.knttp"
                            name="KNTTP"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_KNTTP"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_KONNR">{{ l('KONNR') }}</label>
                        <input
                            type="text"
                            #EKPO_KONNR="ngModel"
                            id="EKPO_KONNR"
                            class="form-control"
                            [(ngModel)]="ekpo.konnr"
                            name="KONNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_KONNR"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_KTPNR">{{ l('KTPNR') }}</label>
                        <input
                            type="number"
                            #EKPO_KTPNR="ngModel"
                            id="EKPO_KTPNR"
                            class="form-control"
                            [(ngModel)]="ekpo.ktpnr"
                            name="KTPNR"
                        />
                        <validation-messages [formCtrl]="EKPO_KTPNR"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_PACKNO">{{ l('PACKNO') }}</label>
                        <input
                            type="number"
                            #EKPO_PACKNO="ngModel"
                            id="EKPO_PACKNO"
                            class="form-control"
                            [(ngModel)]="ekpo.packno"
                            name="PACKNO"
                        />
                        <validation-messages [formCtrl]="EKPO_PACKNO"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_ANFNR">{{ l('ANFNR') }}</label>
                        <input
                            type="text"
                            #EKPO_ANFNR="ngModel"
                            id="EKPO_ANFNR"
                            class="form-control"
                            [(ngModel)]="ekpo.anfnr"
                            name="ANFNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_ANFNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EKPO_BANFN">{{ l('BANFN') }}</label>
                        <input
                            type="text"
                            #EKPO_BANFN="ngModel"
                            id="EKPO_BANFN"
                            class="form-control"
                            [(ngModel)]="ekpo.banfn"
                            name="BANFN"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="EKPO_BANFN"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="EKPO_BNFPO">{{ l('BNFPO') }}</label>
                        <input
                            type="number"
                            #EKPO_BNFPO="ngModel"
                            id="EKPO_BNFPO"
                            class="form-control"
                            [(ngModel)]="ekpo.bnfpo"
                            name="BNFPO"
                        />
                        <validation-messages [formCtrl]="EKPO_BNFPO"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!ekpoForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
