<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                    aria-label="Close"
                    [disabled]="saving"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('MANDT') }} :</h6>
                        {{ item.ekpo.mandt }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('EBELN') }} :</h6>
                        {{ item.ekpo.ebeln }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('EBELP') }} :</h6>
                        {{ item.ekpo.ebelp }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('UNIQUEID') }} :</h6>
                        {{ item.ekpo.uniqueid }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('LOEKZ') }} :</h6>
                        {{ item.ekpo.loekz }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('AEDAT') }} :</h6>
                        {{ item.ekpo.aedat | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('TXZ01') }} :</h6>
                        {{ item.ekpo.txZ01 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MATNR') }} :</h6>
                        {{ item.ekpo.matnr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BUKRS') }} :</h6>
                        {{ item.ekpo.bukrs }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BEDNR') }} :</h6>
                        {{ item.ekpo.bednr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MATKL') }} :</h6>
                        {{ item.ekpo.matkl }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('INFNR') }} :</h6>
                        {{ item.ekpo.infnr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IDNLF') }} :</h6>
                        {{ item.ekpo.idnlf }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('KTMNG') }} :</h6>
                        {{ item.ekpo.ktmng }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MENGE') }} :</h6>
                        {{ item.ekpo.menge }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MEINS') }} :</h6>
                        {{ item.ekpo.meins }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BPRME') }} :</h6>
                        {{ item.ekpo.bprme }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BPUMZ') }} :</h6>
                        {{ item.ekpo.bpumz }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BPUMN') }} :</h6>
                        {{ item.ekpo.bpumn }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('UMREZ') }} :</h6>
                        {{ item.ekpo.umrez }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('UMREN') }} :</h6>
                        {{ item.ekpo.umren }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('NETPR') }} :</h6>
                        {{ item.ekpo.netpr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PEINH') }} :</h6>
                        {{ item.ekpo.peinh }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('NETWR') }} :</h6>
                        {{ item.ekpo.netwr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BRTWR') }} :</h6>
                        {{ item.ekpo.brtwr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('AGDAT') }} :</h6>
                        {{ item.ekpo.agdat | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('WEBAZ') }} :</h6>
                        {{ item.ekpo.webaz }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MWSKZ') }} :</h6>
                        {{ item.ekpo.mwskz }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BONUS') }} :</h6>
                        {{ item.ekpo.bonus }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('INSMK') }} :</h6>
                        {{ item.ekpo.insmk }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('SPINF') }} :</h6>
                        {{ item.ekpo.spinf }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PRSDR') }} :</h6>
                        {{ item.ekpo.prsdr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BWTAR') }} :</h6>
                        {{ item.ekpo.bwtar }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BWTTY') }} :</h6>
                        {{ item.ekpo.bwtty }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('ABSKZ') }} :</h6>
                        {{ item.ekpo.abskz }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PSTYP') }} :</h6>
                        {{ item.ekpo.pstyp }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('KNTTP') }} :</h6>
                        {{ item.ekpo.knttp }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('KONNR') }} :</h6>
                        {{ item.ekpo.konnr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('KTPNR') }} :</h6>
                        {{ item.ekpo.ktpnr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PACKNO') }} :</h6>
                        {{ item.ekpo.packno }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('ANFNR') }} :</h6>
                        {{ item.ekpo.anfnr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BANFN') }} :</h6>
                        {{ item.ekpo.banfn }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BNFPO') }} :</h6>
                        {{ item.ekpo.bnfpo }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
