<div [@routerTransition]>

	


	<sub-header [title]="('MaterialRequests' | localize) +' '+ ('Details' | localize)" [breadcrumbs]="breadcrumbs">
	</sub-header>





	<div [class]="containerClass">


		<div id="kt_app_content" class="app-content flex-column-fluid">
			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Form-->
				<div class="form d-flex flex-column flex-lg-row">
					<!--begin::Aside column-->
					<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
						<!--begin::Thumbnail settings-->
						<div class="card card-flush py-4">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>Thumbnail</h2>
								</div>
								<!--end::Card title-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body text-center pt-0">
								<!--begin::Image input-->
								<!--begin::Image input placeholder-->
								<style>.image-input-placeholder { background-image: url('assets/media/svg/files/blank-image.svg'); } [data-bs-theme="dark"] .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image-dark.svg'); }</style>
								<!--end::Image input placeholder-->
								<div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
									<!--begin::Preview existing avatar-->
									<div class="image-input-wrapper w-150px h-150px"></div>
									<!--end::Preview existing avatar-->
									<!--begin::Label-->
									<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
										<i class="ki-duotone ki-pencil fs-7">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<!--begin::Inputs-->
										<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
										<input type="hidden" name="avatar_remove" />
										<!--end::Inputs-->
									</label>
									<!--end::Label-->
									<!--begin::Cancel-->
									<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
										<i class="ki-duotone ki-cross fs-2">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</span>
									<!--end::Cancel-->
									<!--begin::Remove-->
									<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
										<i class="ki-duotone ki-cross fs-2">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</span>
									<!--end::Remove-->
								</div>
								<!--end::Image input-->
								<!--begin::Description-->
								<div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
								<!--end::Description-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Thumbnail settings-->
						<!--begin::Status-->
						<div class="card card-flush py-4">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>Status</h2>
								</div>
								<!--end::Card title-->
								<!--begin::Card toolbar-->
								<div class="card-toolbar">
									<div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
								</div>
								<!--begin::Card toolbar-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
								<!--begin::Select2-->
								<select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" id="kt_ecommerce_add_product_status_select">
									<option></option>
									<option value="published" selected="selected">Published</option>
									<option value="draft">Draft</option>
									<option value="scheduled">Scheduled</option>
									<option value="inactive">Inactive</option>
								</select>
								<!--end::Select2-->
								<!--begin::Description-->
								<div class="text-muted fs-7">Set the product status.</div>
								<!--end::Description-->
								<!--begin::Datepicker-->
								<div class="d-none mt-10">
									<label for="kt_ecommerce_add_product_status_datepicker" class="form-label">Select publishing date and time</label>
									<input class="form-control" id="kt_ecommerce_add_product_status_datepicker" placeholder="Pick date & time" />
								</div>
								<!--end::Datepicker-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Status-->
						<!--begin::Category & tags-->
						<div class="card card-flush py-4">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>Product Details</h2>
								</div>
								<!--end::Card title-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
								<!--begin::Input group-->
								<!--begin::Label-->
								<label class="form-label">Categories</label>
								<!--end::Label-->
								<!--begin::Select2-->
								<select class="form-select mb-2" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
									<option></option>
									<option value="Computers">Computers</option>
									<option value="Watches">Watches</option>
									<option value="Headphones">Headphones</option>
									<option value="Footwear">Footwear</option>
									<option value="Cameras">Cameras</option>
									<option value="Shirts">Shirts</option>
									<option value="Household">Household</option>
									<option value="Handbags">Handbags</option>
									<option value="Wines">Wines</option>
									<option value="Sandals">Sandals</option>
								</select>
								<!--end::Select2-->
								<!--begin::Description-->
								<div class="text-muted fs-7 mb-7">Add product to a category.</div>
								<!--end::Description-->
								<!--end::Input group-->
								<!--begin::Button-->
								<a href="apps/ecommerce/catalog/add-category.html" class="btn btn-light-primary btn-sm mb-10">
								<i class="ki-duotone ki-plus fs-2"></i>Create new category</a>
								<!--end::Button-->
								<!--begin::Input group-->
								<!--begin::Label-->
								<label class="form-label d-block">Tags</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input id="kt_ecommerce_add_product_tags" name="kt_ecommerce_add_product_tags" class="form-control mb-2" value="" />
								<!--end::Input-->
								<!--begin::Description-->
								<div class="text-muted fs-7">Add tags to a product.</div>
								<!--end::Description-->
								<!--end::Input group-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Category & tags-->
						<!--begin::Weekly sales-->
						<div class="card card-flush py-4">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>Weekly Sales</h2>
								</div>
								<!--end::Card title-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
								<span class="text-muted">No data available. Sales data will begin capturing once product has been published.</span>
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Weekly sales-->
						<!--begin::Template settings-->
						<div class="card card-flush py-4">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>Product Template</h2>
								</div>
								<!--end::Card title-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
								<!--begin::Select store template-->
								<label for="kt_ecommerce_add_product_store_template" class="form-label">Select a product template</label>
								<!--end::Select store template-->
								<!--begin::Select2-->
								<select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" id="kt_ecommerce_add_product_store_template">
									<option></option>
									<option value="default" selected="selected">Default template</option>
									<option value="electronics">Electronics</option>
									<option value="office">Office stationary</option>
									<option value="fashion">Fashion</option>
								</select>
								<!--end::Select2-->
								<!--begin::Description-->
								<div class="text-muted fs-7">Assign a template from your current theme to define how a single product is displayed.</div>
								<!--end::Description-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Template settings-->
					</div>
					<!--end::Aside column-->
					<!--begin::Main column-->
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

						<!--begin::Tab content-->
						<div class="tab-content">
							<!--begin::Tab pane-->
							<div class="tab-pane fade show active" role="tab-panel">


								


								<div class="d-flex flex-column gap-7 gap-lg-10">
									<!--begin::General options-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>General</h2>
											</div>
										</div>
										<!--end::Card header-->

										<!--begin::Card body-->
										<div class="card-body pt-0">


											<div class="card-body">

												<div class="form-group m-form__group">
													<label for="UNSPSCDisplayProperty">{{l("UNSPSC")}}</label>
													<div class="input-group">
														<input class="form-control" id="UNSPSCDisplayProperty" name="unspscDisplayProperty"
															[(ngModel)]="unspscDisplayProperty" type="text" disabled>
														<div class="input-group-append">
															<button class="btn btn-primary blue" (click)="openSelectUNSPSCModal()" type="button"><i
																	class="fa fa-search"></i> {{l("Pick")}}</button>
														</div>
														<div class="input-group-prepend">
															<button class="btn btn-danger btn-icon" type="button" (click)="setUNSPSCIdNull()"><i
																	class="fa fa-times"></i></button>
														</div>
													</div>
												</div>
												<input class="form-control" name="materialRequest.unspscId" [(ngModel)]="materialRequest.unspscId"
													type="text" hidden>
								
												<div class="form-group m-form__group">
													<label for="GeneralLedgerMappingDisplayProperty">{{l("GeneralLedgerMapping")}}</label>
													<div class="input-group">
														<input class="form-control" id="GeneralLedgerMappingDisplayProperty"
															name="generalLedgerMappingDisplayProperty" [(ngModel)]="generalLedgerMappingDisplayProperty"
															type="text" disabled>
														<div class="input-group-append">
															<button class="btn btn-primary blue" (click)="openSelectGeneralLedgerMappingModal()"
																type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
														</div>
														<div class="input-group-prepend">
															<button class="btn btn-danger btn-icon" type="button" (click)="setValuationClassIdNull()"><i
																	class="fa fa-times"></i></button>
														</div>
													</div>
												</div>
												<input class="form-control" name="materialRequest.valuationClassId"
													[(ngModel)]="materialRequest.valuationClassId" type="text" hidden>
								
								
								
												<div class="form-group">
													<label for="MaterialRequest_RequestNo">{{l("RequestNo")}} *</label>
													<input type="text" #MaterialRequest_RequestNo="ngModel" id="MaterialRequest_RequestNo"
														class="form-control" [(ngModel)]="materialRequest.requestNo" name="RequestNo" required />
													<validation-messages [formCtrl]="MaterialRequest_RequestNo"></validation-messages>
												</div>
								
												<div class="my-3">
													<label class="form-label" for="MaterialRequest_RequestStatus">{{l("RequestStatus")}}</label>
													<select #MaterialRequest_RequestStatus="ngModel" class="form-select" name="RequestStatus"
														id="MaterialRequest_RequestStatus" [(ngModel)]="materialRequest.requestStatus">
														<option value="0">{{l('New')}}</option>
								
														<option value="1">{{l('Submitted')}}</option>
								
														<option value="3">{{l('Rejected')}}</option>
								
														<option value="3">{{l('VerifyCataloger')}}</option>
								
														<option value="4">{{l('VerifyBudget')}}</option>
								
														<option value="5">{{l('SubmittedHolding')}}</option>
								
														<option value="6">{{l('Registred')}}</option>
								
								
													</select>
													<validation-messages [formCtrl]="MaterialRequest_RequestStatus"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_MaterialName">{{l("MaterialName")}} *</label>
													<input type="text" #MaterialRequest_MaterialName="ngModel" id="MaterialRequest_MaterialName"
														class="form-control" [(ngModel)]="materialRequest.materialName" name="MaterialName" required />
													<validation-messages [formCtrl]="MaterialRequest_MaterialName"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Description">{{l("Description")}} *</label>
													<input type="text" #MaterialRequest_Description="ngModel" id="MaterialRequest_Description"
														class="form-control" [(ngModel)]="materialRequest.description" name="Description" required />
													<validation-messages [formCtrl]="MaterialRequest_Description"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Purpose">{{l("Purpose")}} *</label>
													<input type="text" #MaterialRequest_Purpose="ngModel" id="MaterialRequest_Purpose"
														class="form-control" [(ngModel)]="materialRequest.purpose" name="Purpose" required />
													<validation-messages [formCtrl]="MaterialRequest_Purpose"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_MaterialType">{{l("MaterialType")}}</label>
													<input type="text" #MaterialRequest_MaterialType="ngModel" id="MaterialRequest_MaterialType"
														class="form-control" [(ngModel)]="materialRequest.materialType" name="MaterialType" />
													<validation-messages [formCtrl]="MaterialRequest_MaterialType"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Category">{{l("Category")}}</label>
													<input type="text" #MaterialRequest_Category="ngModel" id="MaterialRequest_Category"
														class="form-control" [(ngModel)]="materialRequest.category" name="Category" />
													<validation-messages [formCtrl]="MaterialRequest_Category"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Size">{{l("Size")}}</label>
													<input type="text" #MaterialRequest_Size="ngModel" id="MaterialRequest_Size" class="form-control"
														[(ngModel)]="materialRequest.size" name="Size" />
													<validation-messages [formCtrl]="MaterialRequest_Size"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_UoM">{{l("UoM")}}</label>
													<input type="text" #MaterialRequest_UoM="ngModel" id="MaterialRequest_UoM" class="form-control"
														[(ngModel)]="materialRequest.uoM" name="UoM" />
													<validation-messages [formCtrl]="MaterialRequest_UoM"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_PackageSize">{{l("PackageSize")}}</label>
													<input type="text" #MaterialRequest_PackageSize="ngModel" id="MaterialRequest_PackageSize"
														class="form-control" [(ngModel)]="materialRequest.packageSize" name="PackageSize" />
													<validation-messages [formCtrl]="MaterialRequest_PackageSize"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_GeneralLedger">{{l("GeneralLedger")}} *</label>
													<input type="text" #MaterialRequest_GeneralLedger="ngModel" id="MaterialRequest_GeneralLedger"
														class="form-control" [(ngModel)]="materialRequest.generalLedger" name="GeneralLedger"
														required />
													<validation-messages [formCtrl]="MaterialRequest_GeneralLedger"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Brand">{{l("Brand")}}</label>
													<input type="text" #MaterialRequest_Brand="ngModel" id="MaterialRequest_Brand" class="form-control"
														[(ngModel)]="materialRequest.brand" name="Brand" />
													<validation-messages [formCtrl]="MaterialRequest_Brand"></validation-messages>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_Weight">{{l("Weight")}}</label>
													<input type="text" #MaterialRequest_Weight="ngModel" id="MaterialRequest_Weight"
														class="form-control" [(ngModel)]="materialRequest.weight" name="Weight" />
													<validation-messages [formCtrl]="MaterialRequest_Weight"></validation-messages>
												</div>
								
												<div class="my-3">
													<div class="input-group mb-3">
														<span class="input-group-text" id="inputGroupFileAddon01">{{ l('Picture') }}</span>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="MaterialRequest_Picture"
																name="MaterialRequest_Picture" aria-describedby="inputGroupFileAddon01"
																(change)="onSelectPictureFile($event)" [accept]="pictureFileAcceptedTypes" />
															<label class="custom-file-label" #MaterialRequest_PictureLabel
																for="MaterialRequest_Picture">{{ l('ChooseAFile') }}</label>
														</div>
													</div>
								
													<div *ngIf="pictureFileName" style="background-color:#e5e5e5; padding:5px">
														<span class="font-weight-bold">{{'CurrentFile' |localize}} :</span>
														<div class="alert alert-custom alert-white alert-bold m-1" role="alert">
															<div class="alert-text">
																<a href="{{getDownloadUrl(materialRequest.picture)}}"
																	target="_blank">{{pictureFileName}}</a>
															</div>
															<div class="alert-close">
																<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																	<span aria-hidden="true" (click)="removePictureFile()"><i
																			class="la la-close fa-1x"></i></span>
																</button>
															</div>
														</div>
													</div>
												</div>
								
												<div class="form-group">
													<label for="MaterialRequest_ImageColletion">{{l("ImageColletion")}}</label>
													<input type="text" #MaterialRequest_ImageColletion="ngModel" id="MaterialRequest_ImageColletion"
														class="form-control" [(ngModel)]="materialRequest.imageColletion" name="ImageColletion" />
													<validation-messages [formCtrl]="MaterialRequest_ImageColletion"></validation-messages>
												</div>
								
											</div>


											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label class="required form-label">Product Name</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="product_name" class="form-control mb-2" placeholder="Product name" value="" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div>
												<!--begin::Label-->
												<label class="form-label">Description</label>
												<!--end::Label-->
												<!--begin::Editor-->
												<div id="kt_ecommerce_add_product_description" name="kt_ecommerce_add_product_description" class="min-h-200px mb-2"></div>
												<!--end::Editor-->
												<!--begin::Description-->
												<div class="text-muted fs-7">Set a description to the product for better visibility.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::General options-->
									<!--begin::Media-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Media</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<!--begin::Input group-->
											<div class="fv-row mb-2">
												<!--begin::Dropzone-->
												<div class="dropzone" id="kt_ecommerce_add_product_media">
													<!--begin::Message-->
													<div class="dz-message needsclick">
														<!--begin::Icon-->
														<i class="ki-duotone ki-file-up text-primary fs-3x">
															<span class="path1"></span>
															<span class="path2"></span>
														</i>
														<!--end::Icon-->
														<!--begin::Info-->
														<div class="ms-4">
															<h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
															<span class="fs-7 fw-semibold text-gray-500">Upload up to 10 files</span>
														</div>
														<!--end::Info-->
													</div>
												</div>
												<!--end::Dropzone-->
											</div>
											<!--end::Input group-->
											<!--begin::Description-->
											<div class="text-muted fs-7">Set the product media gallery.</div>
											<!--end::Description-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Media-->
									<!--begin::Pricing-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Pricing</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label class="required form-label">Base Price</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="price" class="form-control mb-2" placeholder="Product price" value="" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">Set the product price.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="fv-row mb-10">
												<!--begin::Label-->
												<label class="fs-6 fw-semibold mb-2">Discount Type 
												<span class="ms-1" data-bs-toggle="tooltip" title="Select a discount type that will be applied to this product">
													<i class="ki-duotone ki-information-5 text-gray-500 fs-6">
														<span class="path1"></span>
														<span class="path2"></span>
														<span class="path3"></span>
													</i>
												</span></label>
												<!--End::Label-->
												<!--begin::Row-->
												<div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button='true']">
													<!--begin::Col-->
													<div class="col">
														<!--begin::Option-->
														<label class="btn btn-outline btn-outline-dashed btn-active-light-primary active d-flex text-start p-6" data-kt-button="true">
															<!--begin::Radio-->
															<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input" type="radio" name="discount_option" value="1" checked="checked" />
															</span>
															<!--end::Radio-->
															<!--begin::Info-->
															<span class="ms-5">
																<span class="fs-4 fw-bold text-gray-800 d-block">No Discount</span>
															</span>
															<!--end::Info-->
														</label>
														<!--end::Option-->
													</div>
													<!--end::Col-->
													<!--begin::Col-->
													<div class="col">
														<!--begin::Option-->
														<label class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6" data-kt-button="true">
															<!--begin::Radio-->
															<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input" type="radio" name="discount_option" value="2" />
															</span>
															<!--end::Radio-->
															<!--begin::Info-->
															<span class="ms-5">
																<span class="fs-4 fw-bold text-gray-800 d-block">Percentage %</span>
															</span>
															<!--end::Info-->
														</label>
														<!--end::Option-->
													</div>
													<!--end::Col-->
													<!--begin::Col-->
													<div class="col">
														<!--begin::Option-->
														<label class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6" data-kt-button="true">
															<!--begin::Radio-->
															<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input" type="radio" name="discount_option" value="3" />
															</span>
															<!--end::Radio-->
															<!--begin::Info-->
															<span class="ms-5">
																<span class="fs-4 fw-bold text-gray-800 d-block">Fixed Price</span>
															</span>
															<!--end::Info-->
														</label>
														<!--end::Option-->
													</div>
													<!--end::Col-->
												</div>
												<!--end::Row-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="d-none mb-10 fv-row" id="kt_ecommerce_add_product_discount_percentage">
												<!--begin::Label-->
												<label class="form-label">Set Discount Percentage</label>
												<!--end::Label-->
												<!--begin::Slider-->
												<div class="d-flex flex-column text-center mb-5">
													<div class="d-flex align-items-start justify-content-center mb-7">
														<span class="fw-bold fs-3x" id="kt_ecommerce_add_product_discount_label">0</span>
														<span class="fw-bold fs-4 mt-1 ms-2">%</span>
													</div>
													<div id="kt_ecommerce_add_product_discount_slider" class="noUi-sm"></div>
												</div>
												<!--end::Slider-->
												<!--begin::Description-->
												<div class="text-muted fs-7">Set a percentage discount to be applied on this product.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="d-none mb-10 fv-row" id="kt_ecommerce_add_product_discount_fixed">
												<!--begin::Label-->
												<label class="form-label">Fixed Discounted Price</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="dicsounted_price" class="form-control mb-2" placeholder="Discounted price" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">Set the discounted product price. The product will be reduced at the determined fixed price</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Tax-->
											<div class="d-flex flex-wrap gap-5">
												<!--begin::Input group-->
												<div class="fv-row w-100 flex-md-root">
													<!--begin::Label-->
													<label class="required form-label">Tax Class</label>
													<!--end::Label-->
													<!--begin::Select2-->
													<select class="form-select mb-2" name="tax" data-control="select2" data-hide-search="true" data-placeholder="Select an option">
														<option></option>
														<option value="0">Tax Free</option>
														<option value="1">Taxable Goods</option>
														<option value="2">Downloadable Product</option>
													</select>
													<!--end::Select2-->
													<!--begin::Description-->
													<div class="text-muted fs-7">Set the product tax class.</div>
													<!--end::Description-->
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="fv-row w-100 flex-md-root">
													<!--begin::Label-->
													<label class="form-label">VAT Amount (%)</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="text" class="form-control mb-2" value="" />
													<!--end::Input-->
													<!--begin::Description-->
													<div class="text-muted fs-7">Set the product VAT about.</div>
													<!--end::Description-->
												</div>
												<!--end::Input group-->
											</div>
											<!--end:Tax-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Pricing-->
								</div>
							</div>
							<!--end::Tab pane-->
						</div>
						<!--end::Tab content-->
						<div class="d-flex justify-content-end">
							<!--begin::Button-->
							<a href="apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
							<!--end::Button-->
							<!--begin::Button-->
							<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
								<span class="indicator-label">Save Changes</span>
								<span class="indicator-progress">Please wait... 
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<!--end::Button-->
						</div>
					</div>
					<!--end::Main column-->
				</div>
				<!--end::Form-->
			</div>
			<!--end::Content container-->
		</div>




		<div class="card card-custom gutter-b">

			<div class="card-footer">
				<div class="col-lg-12">
					<button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
						[busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span>
					</button>
					<button *ngIf="!this.materialRequest.id" (click)="saveAndNew()"
						class="btn btn-primary blue float-right" [buttonBusy]="saving"
						[busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("SaveAndNew")}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<materialRequestUNSPSCLookupTableModal #materialRequestUNSPSCLookupTableModal (modalSave)="getNewUNSPSCId()">
</materialRequestUNSPSCLookupTableModal>
<materialRequestGeneralLedgerMappingLookupTableModal #materialRequestGeneralLedgerMappingLookupTableModal
	(modalSave)="getNewValuationClassId()"></materialRequestGeneralLedgerMappingLookupTableModal>