<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ekkoForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ekko.id">{{ l('EditEkko') }}</span>
                        <span *ngIf="!ekko.id">{{ l('CreateNewEkko') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Ekko_MANDT">{{ l('MANDT') }}</label>
                        <input
                            type="text"
                            #Ekko_MANDT="ngModel"
                            id="Ekko_MANDT"
                            class="form-control"
                            [(ngModel)]="ekko.mandt"
                            name="MANDT"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_MANDT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_EBELN">{{ l('EBELN') }}</label>
                        <input
                            type="text"
                            #Ekko_EBELN="ngModel"
                            id="Ekko_EBELN"
                            class="form-control"
                            [(ngModel)]="ekko.ebeln"
                            name="EBELN"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_EBELN"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BUKRS">{{ l('BUKRS') }}</label>
                        <input
                            type="text"
                            #Ekko_BUKRS="ngModel"
                            id="Ekko_BUKRS"
                            class="form-control"
                            [(ngModel)]="ekko.bukrs"
                            name="BUKRS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_BUKRS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BSTYP">{{ l('BSTYP') }}</label>
                        <input
                            type="text"
                            #Ekko_BSTYP="ngModel"
                            id="Ekko_BSTYP"
                            class="form-control"
                            [(ngModel)]="ekko.bstyp"
                            name="BSTYP"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_BSTYP"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BSART">{{ l('BSART') }}</label>
                        <input
                            type="text"
                            #Ekko_BSART="ngModel"
                            id="Ekko_BSART"
                            class="form-control"
                            [(ngModel)]="ekko.bsart"
                            name="BSART"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_BSART"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BSAKZ">{{ l('BSAKZ') }}</label>
                        <input
                            type="text"
                            #Ekko_BSAKZ="ngModel"
                            id="Ekko_BSAKZ"
                            class="form-control"
                            [(ngModel)]="ekko.bsakz"
                            name="BSAKZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_BSAKZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_LOEKZ">{{ l('LOEKZ') }}</label>
                        <input
                            type="text"
                            #Ekko_LOEKZ="ngModel"
                            id="Ekko_LOEKZ"
                            class="form-control"
                            [(ngModel)]="ekko.loekz"
                            name="LOEKZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_LOEKZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_STATU">{{ l('STATU') }}</label>
                        <input
                            type="text"
                            #Ekko_STATU="ngModel"
                            id="Ekko_STATU"
                            class="form-control"
                            [(ngModel)]="ekko.statu"
                            name="STATU"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_STATU"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_AEDAT">{{ l('AEDAT') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_AEDAT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.aedat"
                            id="Ekko_AEDAT"
                            name="Ekko_AEDAT"
                        />
                        <validation-messages [formCtrl]="Ekko_AEDAT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_ERNAM">{{ l('ERNAM') }}</label>
                        <input
                            type="text"
                            #Ekko_ERNAM="ngModel"
                            id="Ekko_ERNAM"
                            class="form-control"
                            [(ngModel)]="ekko.ernam"
                            name="ERNAM"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_ERNAM"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_PINCR">{{ l('PINCR') }}</label>
                        <input
                            type="number"
                            #Ekko_PINCR="ngModel"
                            id="Ekko_PINCR"
                            class="form-control"
                            [(ngModel)]="ekko.pincr"
                            name="PINCR"
                        />
                        <validation-messages [formCtrl]="Ekko_PINCR"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_LPONR">{{ l('LPONR') }}</label>
                        <input
                            type="number"
                            #Ekko_LPONR="ngModel"
                            id="Ekko_LPONR"
                            class="form-control"
                            [(ngModel)]="ekko.lponr"
                            name="LPONR"
                        />
                        <validation-messages [formCtrl]="Ekko_LPONR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_LIFNR">{{ l('LIFNR') }}</label>
                        <input
                            type="text"
                            #Ekko_LIFNR="ngModel"
                            id="Ekko_LIFNR"
                            class="form-control"
                            [(ngModel)]="ekko.lifnr"
                            name="LIFNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_LIFNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_ZTERM">{{ l('ZTERM') }}</label>
                        <input
                            type="text"
                            #Ekko_ZTERM="ngModel"
                            id="Ekko_ZTERM"
                            class="form-control"
                            [(ngModel)]="ekko.zterm"
                            name="ZTERM"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_ZTERM"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_ZBD1T">{{ l('ZBD1T') }}</label>
                        <input
                            type="number"
                            #Ekko_ZBD1T="ngModel"
                            id="Ekko_ZBD1T"
                            class="form-control"
                            [(ngModel)]="ekko.zbD1T"
                            name="ZBD1T"
                        />
                        <validation-messages [formCtrl]="Ekko_ZBD1T"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_ZBD2T">{{ l('ZBD2T') }}</label>
                        <input
                            type="number"
                            #Ekko_ZBD2T="ngModel"
                            id="Ekko_ZBD2T"
                            class="form-control"
                            [(ngModel)]="ekko.zbD2T"
                            name="ZBD2T"
                        />
                        <validation-messages [formCtrl]="Ekko_ZBD2T"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_ZBD3T">{{ l('ZBD3T') }}</label>
                        <input
                            type="number"
                            #Ekko_ZBD3T="ngModel"
                            id="Ekko_ZBD3T"
                            class="form-control"
                            [(ngModel)]="ekko.zbD3T"
                            name="ZBD3T"
                        />
                        <validation-messages [formCtrl]="Ekko_ZBD3T"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_ZBD1P">{{ l('ZBD1P') }}</label>
                        <input
                            type="number"
                            #Ekko_ZBD1P="ngModel"
                            id="Ekko_ZBD1P"
                            class="form-control"
                            [(ngModel)]="ekko.zbD1P"
                            name="ZBD1P"
                        />
                        <validation-messages [formCtrl]="Ekko_ZBD1P"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_ZBD2P">{{ l('ZBD2P') }}</label>
                        <input
                            type="number"
                            #Ekko_ZBD2P="ngModel"
                            id="Ekko_ZBD2P"
                            class="form-control"
                            [(ngModel)]="ekko.zbD2P"
                            name="ZBD2P"
                        />
                        <validation-messages [formCtrl]="Ekko_ZBD2P"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_EKORG">{{ l('EKORG') }}</label>
                        <input
                            type="text"
                            #Ekko_EKORG="ngModel"
                            id="Ekko_EKORG"
                            class="form-control"
                            [(ngModel)]="ekko.ekorg"
                            name="EKORG"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_EKORG"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_EKGRP">{{ l('EKGRP') }}</label>
                        <input
                            type="text"
                            #Ekko_EKGRP="ngModel"
                            id="Ekko_EKGRP"
                            class="form-control"
                            [(ngModel)]="ekko.ekgrp"
                            name="EKGRP"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_EKGRP"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_WAERS">{{ l('WAERS') }}</label>
                        <input
                            type="text"
                            #Ekko_WAERS="ngModel"
                            id="Ekko_WAERS"
                            class="form-control"
                            [(ngModel)]="ekko.waers"
                            name="WAERS"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_WAERS"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="Ekko_WKURS">{{ l('WKURS') }}</label>
                        <input
                            type="number"
                            #Ekko_WKURS="ngModel"
                            id="Ekko_WKURS"
                            class="form-control"
                            [(ngModel)]="ekko.wkurs"
                            name="WKURS"
                        />
                        <validation-messages [formCtrl]="Ekko_WKURS"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KUFIX">{{ l('KUFIX') }}</label>
                        <input
                            type="text"
                            #Ekko_KUFIX="ngModel"
                            id="Ekko_KUFIX"
                            class="form-control"
                            [(ngModel)]="ekko.kufix"
                            name="KUFIX"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_KUFIX"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BEDAT">{{ l('BEDAT') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_BEDAT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.bedat"
                            id="Ekko_BEDAT"
                            name="Ekko_BEDAT"
                        />
                        <validation-messages [formCtrl]="Ekko_BEDAT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KDATB">{{ l('KDATB') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_KDATB
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.kdatb"
                            id="Ekko_KDATB"
                            name="Ekko_KDATB"
                        />
                        <validation-messages [formCtrl]="Ekko_KDATB"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KDATE">{{ l('KDATE') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_KDATE
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.kdate"
                            id="Ekko_KDATE"
                            name="Ekko_KDATE"
                        />
                        <validation-messages [formCtrl]="Ekko_KDATE"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_BWBDT">{{ l('BWBDT') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_BWBDT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.bwbdt"
                            id="Ekko_BWBDT"
                            name="Ekko_BWBDT"
                        />
                        <validation-messages [formCtrl]="Ekko_BWBDT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_GWLDT">{{ l('GWLDT') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_GWLDT
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.gwldt"
                            id="Ekko_GWLDT"
                            name="Ekko_GWLDT"
                        />
                        <validation-messages [formCtrl]="Ekko_GWLDT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_IHRAN">{{ l('IHRAN') }}</label>
                        <input
                            class="form-control m-input"
                            #Ekko_IHRAN
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="ekko.ihran"
                            id="Ekko_IHRAN"
                            name="Ekko_IHRAN"
                        />
                        <validation-messages [formCtrl]="Ekko_IHRAN"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KUNNR">{{ l('KUNNR') }}</label>
                        <input
                            type="text"
                            #Ekko_KUNNR="ngModel"
                            id="Ekko_KUNNR"
                            class="form-control"
                            [(ngModel)]="ekko.kunnr"
                            name="KUNNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_KUNNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KONNR">{{ l('KONNR') }}</label>
                        <input
                            type="text"
                            #Ekko_KONNR="ngModel"
                            id="Ekko_KONNR"
                            class="form-control"
                            [(ngModel)]="ekko.konnr"
                            name="KONNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_KONNR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_ABGRU">{{ l('ABGRU') }}</label>
                        <input
                            type="text"
                            #Ekko_ABGRU="ngModel"
                            id="Ekko_ABGRU"
                            class="form-control"
                            [(ngModel)]="ekko.abgru"
                            name="ABGRU"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_ABGRU"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_AUTLF">{{ l('AUTLF') }}</label>
                        <input
                            type="text"
                            #Ekko_AUTLF="ngModel"
                            id="Ekko_AUTLF"
                            class="form-control"
                            [(ngModel)]="ekko.autlf"
                            name="AUTLF"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_AUTLF"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_WEAKT">{{ l('WEAKT') }}</label>
                        <input
                            type="text"
                            #Ekko_WEAKT="ngModel"
                            id="Ekko_WEAKT"
                            class="form-control"
                            [(ngModel)]="ekko.weakt"
                            name="WEAKT"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_WEAKT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_RESWK">{{ l('RESWK') }}</label>
                        <input
                            type="text"
                            #Ekko_RESWK="ngModel"
                            id="Ekko_RESWK"
                            class="form-control"
                            [(ngModel)]="ekko.reswk"
                            name="RESWK"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_RESWK"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_LBLIF">{{ l('LBLIF') }}</label>
                        <input
                            type="text"
                            #Ekko_LBLIF="ngModel"
                            id="Ekko_LBLIF"
                            class="form-control"
                            [(ngModel)]="ekko.lblif"
                            name="LBLIF"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_LBLIF"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_INCO1">{{ l('INCO1') }}</label>
                        <input
                            type="text"
                            #Ekko_INCO1="ngModel"
                            id="Ekko_INCO1"
                            class="form-control"
                            [(ngModel)]="ekko.incO1"
                            name="INCO1"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_INCO1"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_INCO2">{{ l('INCO2') }}</label>
                        <input
                            type="text"
                            #Ekko_INCO2="ngModel"
                            id="Ekko_INCO2"
                            class="form-control"
                            [(ngModel)]="ekko.incO2"
                            name="INCO2"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_INCO2"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_SUBMI">{{ l('SUBMI') }}</label>
                        <input
                            type="text"
                            #Ekko_SUBMI="ngModel"
                            id="Ekko_SUBMI"
                            class="form-control"
                            [(ngModel)]="ekko.submi"
                            name="SUBMI"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_SUBMI"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KNUMV">{{ l('KNUMV') }}</label>
                        <input
                            type="text"
                            #Ekko_KNUMV="ngModel"
                            id="Ekko_KNUMV"
                            class="form-control"
                            [(ngModel)]="ekko.knumv"
                            name="KNUMV"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_KNUMV"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_KALSM">{{ l('KALSM') }}</label>
                        <input
                            type="text"
                            #Ekko_KALSM="ngModel"
                            id="Ekko_KALSM"
                            class="form-control"
                            [(ngModel)]="ekko.kalsm"
                            name="KALSM"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_KALSM"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_PROCSTAT">{{ l('PROCSTAT') }}</label>
                        <input
                            type="text"
                            #Ekko_PROCSTAT="ngModel"
                            id="Ekko_PROCSTAT"
                            class="form-control"
                            [(ngModel)]="ekko.procstat"
                            name="PROCSTAT"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_PROCSTAT"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_UNSEZ">{{ l('UNSEZ') }}</label>
                        <input
                            type="text"
                            #Ekko_UNSEZ="ngModel"
                            id="Ekko_UNSEZ"
                            class="form-control"
                            [(ngModel)]="ekko.unsez"
                            name="UNSEZ"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_UNSEZ"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_FRGGR">{{ l('FRGGR') }}</label>
                        <input
                            type="text"
                            #Ekko_FRGGR="ngModel"
                            id="Ekko_FRGGR"
                            class="form-control"
                            [(ngModel)]="ekko.frggr"
                            name="FRGGR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_FRGGR"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_FRGSX">{{ l('FRGSX') }}</label>
                        <input
                            type="text"
                            #Ekko_FRGSX="ngModel"
                            id="Ekko_FRGSX"
                            class="form-control"
                            [(ngModel)]="ekko.frgsx"
                            name="FRGSX"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_FRGSX"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_FRGKE">{{ l('FRGKE') }}</label>
                        <input
                            type="text"
                            #Ekko_FRGKE="ngModel"
                            id="Ekko_FRGKE"
                            class="form-control"
                            [(ngModel)]="ekko.frgke"
                            name="FRGKE"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_FRGKE"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_FRGZU">{{ l('FRGZU') }}</label>
                        <input
                            type="text"
                            #Ekko_FRGZU="ngModel"
                            id="Ekko_FRGZU"
                            class="form-control"
                            [(ngModel)]="ekko.frgzu"
                            name="FRGZU"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_FRGZU"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Ekko_ADRNR">{{ l('ADRNR') }}</label>
                        <input
                            type="text"
                            #Ekko_ADRNR="ngModel"
                            id="Ekko_ADRNR"
                            class="form-control"
                            [(ngModel)]="ekko.adrnr"
                            name="ADRNR"
                            minlength="0"
                            maxlength="500"
                        />
                        <validation-messages [formCtrl]="Ekko_ADRNR"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!ekkoForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
